/* Creating a grid*/



/*body{
  background-color: black;
}*/

body{
  display: grid;
  grid-template-areas:
    "header header header"
    "edu article exp"
    "footer footer footer";

    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    height: auto;

}

header, footer, article, nav {
  background-color: lightgray;
  padding: 10px;
}


header li{
  display: inline;
  position: sticky;
  padding: 10px;
}

footer li{
  display: inline;
  padding: 10px;
}



#webheader {
  grid-area: header;
  text-align: center;
}

#webfooter {
  grid-area: footer;
  text-align: center;
}

#siteedu {
  grid-area: edu;
}

#sitearticle {
  grid-area: article;
}

#siteexp {
  grid-area: exp;
}

/*h1 {
  text-align: center;
}*/

h2 {
  text-align: center;
}
